<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--Src側RedmineのルートURL-->
    <add key="SrcRedmineRootUrl" value="" />
    <!--Dest側RedmineのルートURL-->
    <add key="DestRedmineRootUrl" value="" />
    <!--Src側RedmineのREST APIアクセスキー-->
    <add key="SrcRedmineAccessKey" value="" />
    <!--Dest側RedmineのREST APIアクセスキー-->
    <add key="DestRedmineAccessKey" value="" />
    <!--Src側Redmineのチケットで固定したい値。プロジェクト名。この値がnullならコピー元の値をコピーし、nullでなければコピー元の値を無視してこの値を使用する。-->
    <add key="SrcFixedParam_Project" value="" />
    <!--Src側Redmineのチケットで固定したい値。トラッカー。この値がnullならコピー元の値をコピーし、nullでなければコピー元の値を無視してこの値を使用する。-->
    <add key="SrcFixedParam_Tracker" value="" />
    <!--Dest側Redmineのチケットで固定したい値。プロジェクト名。この値がnullならコピー元の値をコピーし、nullでなければコピー元の値を無視してこの値を使用する。-->
    <add key="DestFixedParam_Project" value="" />
    <!--Dest側Redmineのチケットで固定したい値。トラッカー。この値がnullならコピー元の値をコピーし、nullでなければコピー元の値を無視してこの値を使用する。-->
    <add key="DestFixedParam_Tracker" value="" />
    <!--Dest側Redmineのチケットで固定したい値。トラッカー。この値がnullならコピー元の値をコピーし、nullでなければコピー元の値を無視してこの値を使用する。-->
    <add key="DestFixedParam_Tracker" value="" />
    <!--キーワードでSrc側redmineチケット番号を示すプレフィックス。デフォルト値はredmine1-->
    <add key="SrcLinkKeywordPrefix" value="" />
    <!--キーワードでSrc側redmineチケット番号を示すプレフィックス。デフォルト値はredmine2-->
    <add key="DestLinkKeywordPrefix" value="" />

  </appSettings>
</configuration>